.button {
    border-radius: 40px;
    display: inline-block;
    flex: auto;
    margin: 10px 0 10px;
    min-width: 250px;
    overflow: hidden;
}

.innerGrad {
    display: flex;
    flex-wrap: nowrap;
    padding: 16px 22px;
}

.buttonLabel {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}