.button {
    background-color: rgb(7, 71, 166);
    border-radius: 4px;
    display: inline-block;
    flex: auto;
    margin: 5px;
    padding: 15px 22px;
    width: 250px;
}

.buttonLabel {
    color: #fff;
    font-size: 16px;
    text-align: center;
}