.container {
    padding: 5px 10px;
}

.darkContainer {
    background-color: #f9fef3;
}

.signupInner {
    margin: 100px auto 0;
    width: 250px;
}

.signupForm {
    margin-bottom: 20px;
}

.sectionGrad {
    padding: 25px 10px;
}