.header {
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 36px 0 20px;
    position: relative;
    width: 100%;
}

.label {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
}

.backIconContainer {
    bottom: 10px;
    left: 0;
    justify-content: center;
    position: absolute;
}

.backIcon {
    color: #fff;
    font-size: 27px;
    margin-left: 25px;
}