.container {
    margin-bottom: 20px;
}

.item {
    align-items: center;
    background-color: #2f2f2f;
    display: flex;
    height: 125px;
    justify-content: center;
}

.label {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
}